header{
    padding:10px 0 10px 10px ;
  
    border-bottom: 2px solid #cfd8dc;

.button-add{
    width: 100px;
    height: 30px;
    font-size: 15px;
    border: none;
    background-color: #2962ff;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    outline: none;
 }
}